.checkout {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  height: max-content;
  width: 100%;
}
.checkout-title {
  padding: 10px;
  margin-right: 10px;
  border-bottom: 1px solid lightgrey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0 25px 25px 0;
}
